# Composer dependencies
/vendor/

# Environment variables (production)
/.env

# MinIO - S3 storage for local development
/minio/

# Cache
/cache/

# PHP Unit
/.phpunit.result.cache
/public/coverage/

!.gitkeep
